<div class="user_form">
    <h3 class="text-center">User Registration</h3>
    <div class="form-group">
        <label>Name:</label>
        <input type="text" [(ngModel)]="name" class="form-control" />        
    </div>
    <div class="form-group">
        <label>Occupation:</label>
        <input type="text" [(ngModel)]="occupation" class="form-control" />        
    </div>
    <div class="form-group">
        <label class="">Age:</label>
        <input type="text" [(ngModel)]="age" class="form-control" />        
    </div>
    <div class="form-group">
        <label>Hobby:</label>
        <input type="text" [(ngModel)]="hobby" class="form-control" />        
    </div>
    <br/>
    <div class="form-group text-center">
        <button type="button" (click)="addUserDetails()" class="btn btn-lg btn-primary">Submit</button>      
    </div>
</div>